<div class="flex items-center gap-x-5 mb-3.5">
  <div class="flex items-center gap-x-2.5">
    <input #fileInput type="file" (change)="handleFileChange($event)" class="hidden"/>
    <button (click)="triggerFileInput(fileInput)" class="btn btn-sm">
      აირჩიეთ ფაილი
    </button>
    <p class="text-sm">{{ selectedFileName() }}</p>
  </div>
  @if (showUploadButton()) {
    <button class="btn btn-sm" (click)="upload()">
      ატვირთვა
    </button>
  }
</div>
@if (message()) {
  <app-message [message]="message()"/>
}
