:host {
  display: contents;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  appearance: none;
}
:host {
  display: contents;
}
.no-spinner {
  appearance: textfield;
}
